{{#if user}}
<p>
Hi {{user.username}}. Welcome to your expense page!
</p>




{{else}}
<div id="login">
<a href="/login">Login</a> or <a href="/register">Register</a> to start tracking expenses!
</div>
{{/if}}
