
body {
	font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.logstatus{
	float: right;
	margin-right: 25px;
	
}

header{
    background-color: lavender;
    color: darkmagenta;
    width: 100%;
    margin-bottom: 2px;
    margin-top: 3px;
}

html {
    font-family: Georgia, serif;
    background-color: lavender}

.about-session{
	margin-left: 985px;
}
.navigation {
    overflow: hidden;
    margin-right: 15px;
  }
  
  /* Style the links inside the navigation bar */
  .navigation a {
    float: right;
    color: darkmagenta;
    text-align: center;
    padding: 2px 10px;
    text-decoration: none;
    font-size: 17px;

    margin-bottom: 10px;
  }
#filter input{
    margin-bottom: 20px;
    border-radius: 5px;
}

table, tr, td {
    border: 1px solid;
    border-collapse: collapse;
	
  }

table{
    width: 70%;
	margin-left: auto;
    margin-right: auto;
}
td{
    text-align: center;
    height: 30px;
}
.change{
    position: absolute;
    right:    52%;
    bottom:   22%;
    margin-bottom: 0;
}

.form-section div{
	margin-bottom: 10px;
}

h1,h3{
	margin-left: 12px;
}
h2{
	text-align: center;
}

#delete{
    padding-top: 10px;
    
}
#delete div{
	margin-bottom: 10px;
}